
:root {
  --primary-color: #325168;
  --secondary-color: #d05d35;
}

body.theme-dark {
  --primary-color: #d05d35;
}

.navbar {
  background-color: var(--primary-color) !important;
}

.navbar .nav-link {
  color: white !important;
}

.navbar .nav-link:hover {
  color: var(--secondary-color) !important;
}

a.navbar-brand {
  color: white !important;
}

a.navbar-brand:hover {
  color: var(--secondary-color) !important;
}
